<html>
<title>Snapfish In Rails</title>
<body style='margin:0;'>
<div class='colorpallet'>
<div class='maindiv'>
<a title="Visit the Home page" href="http://www.snapfish.com/snapfish/home" class="logo"></a>
</div>
</div>
<span class='fontStyle'> Welcome Nagendra!</span><br/>
</body>
Testing dyna:<%=@testVar%>
</html>
