<html>
<title>Snapfish Rails App</title>
<body>
<span class='fontStyle'> Welcome To Snapfish</span><br/>
</body>
<a href="/signup" class="btn btn-large btn-primary">Sign up now!</a>
 Testing dyna:<%=@testVar%> 
</html>
